<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bamboo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bamboo.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="head">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="navbar-logo-container"  overflow: hidden;">
                        <img src="~/Images/Bamboo.png" alt="Logo" class="navbar-logo" >
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Business" asp-action="Index"><i class="fas fa-building" style="margin-right:5px;"></i>Businesses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="fas fa-store" style="margin-right:5px;"></i>Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Address" asp-action="Index"><i class="fas fa-map-marked" style="margin-right:5px;"></i>Addresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="CustomUser" asp-action="Index"><i class="fas fa-users" style="margin-right:5px;"></i>Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart" style="margin-right:5px;"></i>Carts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index"><i class="fas fa-check-circle" style="margin-right:5px;"></i>Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="CustomUser" asp-action="LoginPage"><i class="fas fa-user" style="margin-right:5px;"></i>Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="submitLogout" ><i class="fas fa-sign-out-alt" style="margin-right:5px;"></i>Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content-container">
        <div class="container-fluid">
            <main role="main" class="main">
                @RenderBody()
            </main>
        </div>
        <footer class="footer">
            &copy; 2023 - Bamboo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - Author: Alberto Junqueira
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            $("#submitLogout").on('click', function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/CustomUser/Logout',
                    type: 'Post',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('authToken'));
                    },
                    success: function (response) {
                        window.location.href = '/Home/Index';
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>

</body>
</html>
