@{
    ViewData["Title"] = "Log out";
}

<h1>@ViewData["Title"]</h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Businesses</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/Util.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="row">
    <div class="col-md-8">
        <section>
            <div class="form-group">
                <button type="submit" id="submit" class="btn btn-primary" style="margin: 10px;">Log Out</button>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            $("#submit").on('click', function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/CustomUser/Logout',
                    type: 'Post',
                    beforeSend: function (xhr) {
                        var authToken = localStorage.getItem('authToken');
                        xhr.setRequestHeader("Authorization", "Bearer " + authToken);
                    },
                    success: function (response) {
                        window.location.href = '/Home/Index';
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}
