@{
    ViewBag.Title = "List Products";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Businesses</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/Util.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div class="page-container d-flex flex-column">
        <div class="container">
            <h1>List of Products</h1>
            <div class="form-group">
                <label for="businessIDFilter">Select a business</label>
                <select class="form-control" id="businessIDFilter" name="businessIDFilter">
                    <option value="" selected>All</option>
                </select>
            </div>
            <button type="button" class="btnAdd" data-toggle="modal" data-target="#addProductModal">Add Product</button>
            <button type="button" class="btnEdit" data-toggle="modal" data-target="#editProductModal">Edit Product</button>
            <button type="button" class="btnRemove" data-toggle="modal" data-target="#removeProductModal">Remove Product</button>
            <button type="button" class="btnFunct" data-toggle="modal" data-target="#cartProductModal">Add Product to Cart</button>
            <div id="alertContainer"></div>
            <table class="custom-table  table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Cost</th>
                        <th>Tax</th>
                        <th>Discount</th>
                        <th>Image</th>
                        <th>Business</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody id="productsTableBody">
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addProductForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="50" required>
                            <div class="invalid-feedback">The name of the product must be provided and not exceed 50 characters.</div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" id="price" name="price" maxlength="70" step="0.01" required>
                            <div class="invalid-feedback">The price of the product must be provided.</div>
                        </div>
                        <div class="form-group">
                            <label for="cost">Cost</label>
                            <input type="number" class="form-control" id="cost" name="cost" maxlength="70" step="0.01">
                        </div>
                        <div class="form-group">
                            <label for="tax">Tax</label>
                            <input type="number" class="form-control" id="tax" name="tax" maxlength="70" step="0.01">
                        </div>
                        <div class="form-group">
                            <label for="discount">Discount</label>
                            <input type="number" class="form-control" id="discount" name="discount" maxlength="70" step="0.01">
                        </div>
                        <div class="form-group">
                            <label for="imageUrl">ImageUrl</label>
                            <input type="text" class="form-control" id="imageUrl" name="imageUrl" maxlength="20">
                        </div>
                        <div class="form-group">
                            <label for="businessID">Business ID</label>
                            <select class="form-control" id="businessID" name="businessID" required>
                            </select>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isActive" name="isActive">
                            <label class="form-check-label" for="isActive">Active</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="sendBtnAdd">Send</button>
                </div>
            </div>
        </div>
    </div>
  
    <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editProductForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" id="price" name="price" maxlength="70" step="0.01">
                        </div>
                        <div class="form-group">
                            <label for="cost">Cost</label>
                            <input type="number" class="form-control" id="cost" name="cost" maxlength="70" step="0.01">
                        </div>
                        <div class="form-group">
                            <label for="tax">Tax</label>
                            <input type="number" class="form-control" id="tax" name="tax" maxlength="70" step="0.01">
                        </div>
                        <div class="form-group">
                            <label for="discount">Discount</label>
                            <input type="number" class="form-control" id="discount" name="discount" maxlength="70" step="0.01">
                        </div>
                        <div class="form-group">
                            <label for="imageUrl">ImageUrl</label>
                            <input type="text" class="form-control" id="imageUrl" name="imageUrl" maxlength="20">
                        </div>
                        <div class="form-group">
                            <label for="businessID">Business ID</label>
                            <select class="form-control" id="businessID" name="businessID">
                            </select>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isActive" name="isActive">
                            <label class="form-check-label" for="isActive">Active</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="sendBtnEdit">Send</button>
                </div>
            </div>
        </div>
    </div>

<script>

    let selectedProductId;
    let selectedProductsIds = [];
    let selectedBusinessId = '';
    const decimals = ["price", "cost", "tax", "discount"];

    $(document).ready(function () {
        fetchBusinesses();
        fetchAndFillProductsTable(selectedBusinessId);
        $('#businessIDFilter').change(function(){
            selectedBusinessId = $(this).val();
            fetchAndFillProductsTable(selectedBusinessId);
        });
    });

    $('#sendBtnAdd').on('click', function (event) {
        let form = $('#addProductForm')[0];
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
        if (form.checkValidity() === true) {
            let formData = $('#addProductForm').serializeArray();
            let jsonData = {};
            formData.forEach(function (item) {
                if (item.name === "businessID" && item.value === "") {
                    jsonData[item.name] = null;
                } else if (item.name === "isActive") {
                    jsonData[item.name] = item.value === "on" ? true : false;
                } else if (decimals.includes(item.name)) {
                    if (item.value === "") {
                        jsonData[item.name] = 0;
                    }
                    else {
                        jsonData[item.name] = parseFloat(item.value);
                    }
                } else if (item.value === "") {
                    jsonData[item.name] = null;
                } else {
                    jsonData[item.name] = item.value;
                }
            });
            event.preventDefault();
            $.ajax({
                url: '/Product/AddProduct',
                type: 'POST',
                data: JSON.stringify(jsonData), 
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    var authToken = localStorage.getItem('authToken');
                    xhr.setRequestHeader("Authorization", "Bearer " + authToken);
                },
                success: function (response) {
                    showAlert("Product added successfully!");
                        fetchAndFillProductsTable(selectedBusinessId);
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 401) {
                        window.location.href = '/CustomUser/LoginPage';
                    }
                    showAlert("Error adding product! "+error);
                }
            });
        }
    });

    $('button[data-target="#removeProductModal"]').on('click', function () {
        let selectedRow = $('input.product-checkbox:checked').closest('tr');
        if (selectedRow.length === 0) {
            alert('Please select a product to remove.');
            return false;
        }
        if (selectedRow.length > 1) {
            alert('Please select only one product to remove.');
            return false;
        }
        selectedProductId = selectedRow.attr('data-product-id');
        $.ajax({
            url: '/Product/RemoveProduct/' + selectedProductId,
            type: 'POST',
            contentType: 'application/json',
            beforeSend: function (xhr) {
                var authToken = localStorage.getItem('authToken');
                xhr.setRequestHeader("Authorization", "Bearer " + authToken);
            },
            success: function (response) {
                showAlert("Product removed successfully!");
                    fetchAndFillProductsTable(selectedBusinessId);
            },
            error: function (xhr, status, error) {
                if (xhr.status === 401) {
                    window.location.href = '/CustomUser/LoginPage';
                }
                showAlert("Error removing product! " + error);
            }
        });
    });

    $('button[data-target="#editProductModal"]').on('click', function () {
        let selectedRow = $('input.product-checkbox:checked').closest('tr');
        if (selectedRow.length === 0) {
            alert('Please select a product to edit.');
            return false;
        }
        if (selectedRow.length > 1) {
            alert('Please select only one product to edit.');
            return false;
        }
        selectedProductId = selectedRow.attr('data-product-id');
    });

    $('button[data-target="#cartProductModal"]').on('click', function () {
        let selectedRows = $('input.product-checkbox:checked').closest('tr');
        if (selectedRows.length === 0) {
            alert('Please select a product to add to cart.');
            return false;
        }
        if (selectedRows.length >= 1) {
            selectedRows.toArray().forEach(function (row) {
                let productId = $(row).attr('data-product-id');
                selectedProductsIds.push(productId);
            });
        }
        let userId = null;
        let data = {
            userID: userId,
            productsIds: selectedProductsIds
        };
        $.ajax({
            url: '/Cart/AddCart',  
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            beforeSend: function (xhr) {
                var authToken = localStorage.getItem('authToken');
                xhr.setRequestHeader("Authorization", "Bearer " + authToken);
            },
            success: function (response) {
                showAlert("Cart added successfully!");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (xhr.status === 401) {
                    window.location.href = '/CustomUser/LoginPage';
                }
                showAlert("Error adding cart! "+error);
            }
        });
    });

    $('#sendBtnEdit').on('click', function (event) {
        let form = $('#editProductForm')[0];
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
        if (form.checkValidity() === true) {
            let formData = $('#editProductForm').serializeArray();
            let jsonData = {};
            formData.forEach(function (item) {
                if (item.name === "businessID" && item.value === "") {
                    jsonData[item.name] = null;
                } else if (item.name === "isActive") {
                    jsonData[item.name] = item.value === "on" ? true : false;
                } else if (decimals.includes(item.name)){
                    if (item.value === ""){
                        jsonData[item.name] = 0;
                    }
                    else{
                        jsonData[item.name] = parseFloat(item.value);
                    }
                } else if (item.value === "") {
                    jsonData[item.name] = null;
                } else {
                    jsonData[item.name] = item.value;
                }
            });
            event.preventDefault();
            $.ajax({
                url: '/Product/EditProduct/' + selectedProductId,
                type: 'POST',
                data: JSON.stringify(jsonData),
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    var authToken = localStorage.getItem('authToken');
                    xhr.setRequestHeader("Authorization", "Bearer " + authToken);
                },
                success: function (response) {
                    showAlert("Product updated successfully!");
                        fetchAndFillProductsTable(selectedBusinessId);
                    },
                error: function (xhr, status, error) {
                    if (xhr.status === 401) {
                        window.location.href = '/CustomUser/LoginPage';
                    }
                    showAlert("Error updating product! " + error);
                }
            });
        }
    });

    function fetchBusinesses() {
        $.ajax({
            url: '/Business/ListBusinesses',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                let businessDropdowns = $('select[name="businessID"]');
                let businessDropdownsFilter = $('select[name="businessIDFilter"]');
                data.forEach(function (business) {
                    businessDropdowns.append(`<option value="${business.businessID}">${business.name}</option>`);
                    businessDropdownsFilter.append(`<option value="${business.businessID}">${business.name}</option>`);
                });
                businessDropdowns.append(`<option value="null">Null</option>`);
            },
            error: function (xhr, status, error) {
                    showAlert('Error: ' + error);
            }
        });
    }

    function fetchAndFillProductsTable(businessID) {
        let url = '/Product/ListProducts';
        if (businessID !== ''){ url+='OfBusiness/'+businessID; }
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                let tableBody = $('#productsTableBody');
                tableBody.empty();

                data.forEach(function (product) {
                    let isActive = product.isActive ? 'Yes' : 'No';
                    let image = product.imageUrl ? `<a href="${product.imageUrl}" target="_blank"><img src="${product.imageUrl}" alt="Image" width="50"></a>` : 'N/A';

                    tableBody.append(
                        `<tr data-product-id="${product.productID}">
                            <td><input type="checkbox" class="product-checkbox"></td>
                            <td>${product.name}</td>
                            <td>${product.description}</td>
                            <td>${product.price}</td>
                            <td>${product.cost}</td>
                            <td>${product.tax}</td>
                            <td>${product.discount}</td>
                            <td>${image}</td>
                            <td>${product.businessDto.name}</td>
                            <td>${isActive}</td>
                        </tr>`
                    );
                });
            },
            error: function (xhr, status, error) {
                    showAlert('Error: ' + error);
            }
        });
    }

</script>
</body>
</html>
