@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(0deg, rgba(115,34,195,1) 0%, rgba(45,253,174,1) 100%);
            color: #d8e3dc;
            font-family: 'Century Gothic', sans-serif;
        }

        .container {
            margin-top: 0px;
            overflow: hidden;
        }

        .card {
            border-radius: 20px;
            background-color: black;
        }

        .card-title {
            font-size: 2em;
            color: white;
            font-weight: bold;
        }

        .card-text {
            color: #d8e3dc;
        }

        .project-title {
            text-align: center;
            color: black;
            font-size: 3em;
            padding: 0px 0px;
        }

        .row:last-child {
            margin-bottom: 100px;
        }

    </style>
</head>
<body>
    <div class="project-title">
        Bamboo Marketplace
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Businesses</h5>
                        <ul>
                            <li>BusinessId</li>
                            <li>Name</li>
                            <li>Description</li>
                            <li>Email</li>
                            <li>Phone</li>
                            <li>Address</li>
                            <li>Logo</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Products</h5>
                        <ul>
                            <li>ProductId</li>
                            <li>Name</li>
                            <li>Description</li>
                            <li>Price</li>
                            <li>Cost</li>
                            <li>Tax</li>
                            <li>Discount</li>
                            <li>Image</li>
                            <li>Business</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Addresses</h5>
                        <ul>
                            <li>AddressId</li>
                            <li>Street</li>
                            <li>Number</li>
                            <li>City</li>
                            <li>Country</li>
                            <li>State</li>
                            <li>PostalCode</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <ul>
                            <li>UserId</li>
                            <li>UserName</li>
                            <li>First Name</li>
                            <li>Last Name</li>
                            <li>Email</li>
                            <li>Password</li>
                            <li>Address</li>
                            <li>Date of Birth</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

</body>
</html>
