@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/Util.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="project-title">
        Bamboo Marketplace
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Businesses</h5>
                        <ul>
                            <li>BusinessId</li>
                            <li>Name</li>
                            <li>Description</li>
                            <li>Email</li>
                            <li>Phone</li>
                            <li>Address</li>
                            <li>Logo</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Products</h5>
                        <ul>
                            <li>ProductId</li>
                            <li>Name</li>
                            <li>Description</li>
                            <li>Price</li>
                            <li>Cost</li>
                            <li>Tax</li>
                            <li>Discount</li>
                            <li>Image</li>
                            <li>Business</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Addresses</h5>
                        <ul>
                            <li>AddressId</li>
                            <li>Street</li>
                            <li>Number</li>
                            <li>City</li>
                            <li>Country</li>
                            <li>State</li>
                            <li>PostalCode</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <ul>
                            <li>UserId</li>
                            <li>UserName</li>
                            <li>First Name</li>
                            <li>Last Name</li>
                            <li>Email</li>
                            <li>Password</li>
                            <li>Address</li>
                            <li>Date of Birth</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

</body>
</html>
