html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.user-symbol {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
}

.user-symbol-authenticated {
    background-color: green;
}

.user-symbol-unauthenticated {
    background-color: red;
}

.alert-message {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #d4e9f7;
    color: #000000;
    border: 1px solid #3282b8; 
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.alert-message.fade-out {
    opacity: 0;
}

