
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*#region MAIN CSS*/
html {
    font-size: 14px;
    background: linear-gradient(180deg, rgba(255,255,255,0.6587009803921569) 0%, rgba(39,205,221,0.15730042016806722) 68%);
}

body {
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    font-family: 'Century Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(255,255,255,0.6587009803921569) 0%, rgba(39,205,221,0.15730042016806722) 68%);
    overflow-x: hidden;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
}

.head {
    margin-bottom: 30px;
    border-bottom: 5px solid black;
}

.main {
    flex-grow: 1;
    background: white;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 2px solid black;
    border-radius: 15px;
}

.footer {
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
    color: black;
    box-shadow: none;
    text-align: left;
    vertical-align: bottom;
}

.nav-item {
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 0px;
    margin-right: 10px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
    background: linear-gradient(0deg, rgba(208,208,208,1) 12%, rgba(255,255,255,0.7567401960784313) 45%);
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    background: linear-gradient(180deg, rgba(93,93,93,1) 0%, rgba(181,181,181,1) 35%, rgba(236,236,236,1) 100%);
    border-radius: 15px;
}

.navbar-logo {
    border: 3px solid black;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    animation: glowing 3s linear infinite;
}


h1 {
    margin-top: 10px;
    margin-left: 10px;
}

.container {
    margin-top: 0px;
    margin-left: 10px;
    overflow: hidden;
}

.card {
    border-radius: 20px;
    background-color: lightgray;
}

.card-title {
    font-size: 2em;
    color: black;
    font-weight: bold;
    text-align: center;
}

.card-text {
    color: white;
}

.project-title {
    text-align: center;
    color: black;
    font-size: 3em;
    padding: 0px 0px;
}

.btnAdd {
    background: linear-gradient(180deg, rgba(221,245,199,0.4206057422969187) 0%, rgba(45,200,68,0.6951155462184874) 68%);
    color: black;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.btnAdd:hover {
    background: linear-gradient(180deg, rgba(0,93,33,1) 0%, rgba(37,138,55,1) 35%, rgba(145,190,140,1) 100%);
    color: black;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.btnEdit {
    background: linear-gradient(180deg, rgba(224,236,168,0.4206057422969187) 0%, rgba(221,219,39,0.6951155462184874) 68%);
    color: black;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.btnEdit:hover {
    background: linear-gradient(180deg, rgba(133,134,0,1) 0%, rgba(185,187,46,1) 35%, rgba(230,235,176,1) 100%);
    color: black;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.btnRemove {
    background: linear-gradient(180deg, rgba(236,168,184,0.4206057422969187) 0%, rgba(221,39,82,0.6951155462184874) 68%);
    color: black;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.btnRemove:hover {
    background: linear-gradient(180deg, rgba(134,0,0,1) 0%, rgba(187,46,46,1) 35%, rgba(235,176,176,1) 100%);
    color: black;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.btnFunct {
    background: linear-gradient(180deg, rgba(199,234,245,0.4206057422969187) 0%, rgba(45,126,200,0.6951155462184874) 68%);
    color: black;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.btnFunct:hover {
    background: linear-gradient(180deg, rgba(24,0,134,1) 0%, rgba(69,46,187,1) 35%, rgba(176,177,235,1) 100%);
    color: black;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.alert-message {
    position: fixed;
    top: 80px;
    right: 20px;
    padding: 10px;
    background-color: #d4e9f7;
    color: #000000;
    border: 1px solid #3282b8;
    border-radius: 4px;
    opacity: 1;
    animation: glow 1s ease-in-out infinite, fadeOut 2s forwards 8s;
}

.filter {
    border: 1px solid; /* Adds a 3px solid border */
    font-size: 15px; /* Sets the font size to 15 pixels */
    border-radius: 10px; /* Rounds the corners with a border radius of 10 pixels */
    padding-left: 10px; /* Adds left padding of 20 pixels */
}

/* #endregion MAIN CSS*/

/*#region ANIMATION CSS*/
@keyframes glowing {
    0% {
        border-color: gold;
    }
    25% {
        border-color: mediumpurple;
    }
    50% {
        border-color: gold;
    }
    75% {
        border-color: mediumpurple;
    }
    100% {
        border-color: gold;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #3282b8;
    }

    50% {
        box-shadow: 0 0 20px #3282b8, 0 0 30px #3282b8;
    }

    100% {
        box-shadow: 0 0 5px #3282b8;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/*#endregion ANIMATION CSS*/

/*#region Products*/

/* Styling for the businessIDFilter element */
.businessIDFilter {
    border: 3px solid; /* Adds a 3px solid border */
    animation: glowing 3s linear infinite; /* Applies a glowing animation effect that lasts for 3 seconds and repeats infinitely */
    width: 30vw !important; /* Sets the width to 30% of the viewport width, with !important to override other styles */
    font-size: 15px; /* Sets the font size to 15 pixels */
    border-radius: 10px; /* Rounds the corners with a border radius of 10 pixels */
    padding-left: 20px; /* Adds left padding of 20 pixels */
    font-weight: bold; /* Sets the font weight to bold */
    margin-right: 10px; /* Adds right margin of 10 pixels */
}

/* Styling for the businessIDFilter element when hovered */
.businessIDFilter:hover {
    border: 3px solid; /* Adds a 3px solid border */
    animation: glowing 3s linear infinite; /* Applies a glowing animation effect that lasts for 3 seconds and repeats infinitely */
    width: 30vw !important; /* Sets the width to 30% of the viewport width, with !important to override other styles */
    font-size: 15px; /* Sets the font size to 15 pixels */
    border-radius: 10px; /* Rounds the corners with a border radius of 10 pixels */
    padding-left: 20px; /* Adds left padding of 20 pixels */
    background: linear-gradient(180deg, rgba(93,93,93,1) 0%, rgba(181,181,181,1) 35%, rgba(236,236,236,1) 100%); /* Applies a linear gradient background */
}

/* Styling for the productsContainer element */
#productsContainer {
    display: grid; /* Displays the element as a grid */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Defines the grid columns to automatically fill and have a minimum width of 200 pixels */
    gap: 15px; /* Sets the gap (spacing) between grid items to x pixels */
    padding: 15px; /* Adds padding of x pixels */
    grid-auto-rows: 400px; /* Sets the height of grid rows to x pixels */
}

/* Styling for the product-card-container class */
.product-card-container {
    box-sizing: border-box; /* Includes borders and padding in the total width and height of the element */
}

/* Styling for the product-card class */
.product-card {
    width: 100%; /* Sets the width to 100% of the parent container */
    height: 100%; /* Sets the height to 100% of the parent container */
    padding: 20px; /* Adds padding of 20 pixels */
    border: 2px solid black; /* Adds a xpx solid border with the color y */
    border-radius: 15px; /* Rounds the corners with a border radius of x pixels */
    box-shadow: 0 0 15px rgba(0,0,0,0.3); /* Adds a box shadow with a slight blur */
    font-size: 10px; /* Sets the font size to 10 pixels */
    background: linear-gradient(180deg, rgba(236,236,236,0.6951155462184874) 0%, rgba(167,233,229,0.44021358543417366) 49%, rgba(119,144,219,0.4542191876750701) 100%); /* Applies a linear gradient background */
    box-sizing: border-box; /* Includes borders and padding in the total width and height of the element */
    overflow: hidden; /* Prevents content from overflowing */
}

/* Styling for the card-title class within the card-body */
.card-body .card-title {
    font-size: 18px; /* Sets the font size to x pixels */
    color: #333; /* Sets the text color to x */
    word-wrap: break-word; /* Allows long words to break into multiple lines */
}

/* Styling for the card-text class within the card-body */
.card-body .card-text {
    font-size: 15px; /* Sets the font size to x pixels */
    color: #666; /* Sets the text color to x */
    margin: 1px; /* Sets a margin of x pixel */
    word-wrap: break-word; /* Allows long words to break into multiple lines */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Styling for the cardinfo class within the card-body */
.card-body .cardinfo {
    font-size: 15px; /* Sets the font size to x pixels */
    margin-top: 1px; /* Sets a top margin of x pixel */
    margin-bottom: 1px; /* Sets a bottom margin of x pixel */
}

/*#endregion */

/*#region Table*/
.custom-table {
    width: 90%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.custom-table th,
.custom-table td {
    text-align: center;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.custom-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.custom-table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.custom-table.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.custom-table.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

.custom-table.table-bordered {
    border: 1px solid #dee2e6;
}

.custom-table.table-bordered th,
.custom-table.table-bordered td {
    border: 1px solid #dee2e6;
}

.custom-table.table-bordered thead th,
.custom-table.table-bordered thead td {
    border-bottom-width: 2px;
}

.custom-table thead.thead-dark th {
color: #fff;
background-color: #343a40;
border-color: #454d55;
}

.custom-table thead.thead-dark,
.custom-table thead.thead-dark th,
.custom-table thead.thead-dark td {
border-color: #454d55;
}

/*#endregion */


