
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    font-size: 14px;
    background: linear-gradient(180deg, rgba(161,157,227,0.22888647151898733) 0%, rgba(178,95,190,0.1940763449367089) 20%, rgba(0,31,254,0.235215585443038) 100%);
}

header {
    margin-bottom: 50px;
    border-bottom: 5px solid black;
}

body {
    margin-bottom: 20px !important;
    font-family: 'Century Gothic', sans-serif !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
    background: linear-gradient(180deg, rgba(161,157,227,0.22888647151898733) 0%, rgba(178,95,190,0.1940763449367089) 20%, rgba(0,31,254,0.235215585443038) 100%);
}

footer {
    margin-left:50px;
    color: white !important;
    box-shadow: none !important;
}

main {
    flex: 1 !important;
    background: white;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 2px solid black;
    border-radius: 15px;
}

h1 {
    margin-top: 10px;
}

.container {
    margin-top: 0px;
    overflow: hidden;
}

.card {
    border-radius: 20px;
    background-color: gray;
}

.card-title {
    font-size: 2em;
    color: black;
    font-weight: bold;
}

.card-text {
    color: white;
}

.project-title {
    text-align: center;
    color: black;
    font-size: 3em;
    padding: 0px 0px;
}

.nav-item {
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 0px;
    margin-right: 10px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(208,208,208,1) 12%, rgba(255,255,255,0.7567401960784313) 45%);
}

.nav-link {
    color: black !important;
}

.navbar-logo {
    border: 3px solid black;
    border-radius: 15px;
    width: 100px;
    height: 80px;
}

.btnAdd {
    background: linear-gradient(0deg, rgba(5,168,84,0.7567401960784313) 30%, rgba(131,236,154,0.7067345727848101) 53%);
    color: black;
    font-weight: bold;
}

.btnEdit {
    background: linear-gradient(0deg, rgba(245,255,0,0.7567401960784313) 30%, rgba(249,255,153,0.6086333069620253) 53%);
    color: black;
    font-weight: bold;
}

.btnRemove {
    background: linear-gradient(0deg, rgba(250,47,47,0.7567401960784313) 30%, rgba(255,153,153,0.7067345727848101) 53%);
    color: black;
    font-weight: bold;
}
.btnCart {
    background: linear-gradient(0deg, rgba(0,136,255,0.7567401960784313) 30%, rgba(153,234,255,0.6086333069620253) 53%);
    color: black;
    font-weight: bold;
}

.alert-message {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #d4e9f7;
    color: #000000;
    border: 1px solid #3282b8; 
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.alert-message.fade-out {
    opacity: 0;
}


